
:root{
	--text-color: #212121;
	--background-color: #fff;
	--secondary-background-color: #f5f5f5;
	--border-color: #e0e0e0;
	--secondary-color: #2962FF;
	--font-family: Roboto, sans-serif;
}
@media (prefers-color-scheme: dark) {
	:root{
		--text-color: #ECEFF1;
		--background-color: #1e1e1e;
		--secondary-background-color: #121212;
		--border-color: #333;
		--secondary-color: #2962FF;
	}
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body{
	background: var(--secondary-background-color);
	color: var(--text-color);
	transition: color .2s ease, background .2s ease;
}
body,
input[type="text"],
textarea{
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.5px;
}

.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	width: 900px;
	max-width: 100%;
	margin: 0 auto;
}
.oneRowStretch{
	display: flex;
	align-items: flex-start;
}
.oneRowStretch.top{
	align-items: flex-start;
}
.oneRowStretch.middle{
	align-items: center;
}
.oneRowStretch label{
	margin-top: 10px;
}
.oneRowStretch input[type="text"],
.oneRowStretch textarea{
	width: 100%;
	margin: 4px 8px;
	min-width: 0;
}

fieldset{
	/*min-width: 200px;*/
	width: 400px;
	max-width: 100%;
	background: var(--background-color);
	border: 1px solid var(--border-color);
	border-radius: 8px;
	padding: 8px 16px;
	margin: 16px;
	overflow: auto;
	transition: background .2s ease, border-color .2s ease;
}
fieldset.focus{
	border-color: var(--secondary-color);
}
fieldset legend{
	padding: 4px 16px;
	font-weight: bold;
	background: #e0e0e0;
	margin: -29px 0 0px -17px;
}
fieldset section.actions{
	background: var(--secondary-background-color);
	margin: 8px -16px -8px -16px;
	padding: 8px 16px;
	transition: background .2s ease;

	display: flex;
	justify-content: space-between;
	/*flex-direction: row-reverse;*/
}

hr{
	border: 0;
	height: 1px;
	background: var(--border-color);
	transition: background .2s ease;
}

button, input[type="submit"]{
	cursor: pointer;
	white-space: nowrap;
	padding: 4px;
	margin: 4px 2px;

	/*
	font-family: Roboto;
	font-weight: medium;
	font-size: 14px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	background: none;
	border: none;
	border-radius: 3px;
	*/
}
input[type="text"],
textarea{
	padding: 8px;
	margin: 4px 2px;
	border: 0;
	border-width: 0 0 1px 0;
	background: transparent;
	color: var(--text-color);
	transition: box-shadow .2s ease, color .2s ease;
}
input[type="text"]{
	box-shadow: inset 0 -1px 0 0 var(--border-color)
}
input[type="text"]:active,
input[type="text"]:focus{
	box-shadow: inset 0 -2px 0 0 var(--secondary-color)
}
textarea{
	border-width: 1px;
	resize: none;
	height: 96px;
	box-shadow: inset 0 0 0 1px var(--border-color)
}
textarea:active,
textarea:focus{
	box-shadow: inset 0 0 0 2px var(--secondary-color)
}


p{
	padding: 2px 0;
}

ul{
	margin: 8px 0;
	list-style-type: none;
}

ol{
	list-style-type: decimal;
	margin: 8px 0;
	padding: 0 0 0 20px;
}
ol li{
	padding: 2px;
}
ol.movableItems li{
	cursor: move;
}
.actionRow{
	display: flex;
	align-items: center;
	margin-left: 8px;
}
.editButton,
.deleteButton,
.moveButton,
.saveButton{
	cursor: pointer;
	margin: 0 2px;
	fill:var(--text-color);
}
.moveButton{
	cursor: move;
}


h1{
	margin: 64px auto;
	text-align: center;

	font-family: var(--font-family);
	font-weight: 100;
	font-size: 60px;
	letter-spacing: -0.5px;
}

h2{
	margin: 8px 0;
	line-height: 1;

	font-family: var(--font-family);
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 0.15px;
}


